<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="css/home.css">
    <link href="http://fonts.cdnfonts.com/css/american-typewriter" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/carrito.css">

</head>

<body>
    <header>
        <div class="top-header">
            <div>
                <img src="images/top.png" class="image-top">
            </div>
            <div class="contenedor">
                <div class="logo">
                    <a href="/"> <img src="images/logo.png" class="image-logo" alt="Logo Pastelería"></a>
                </div>
                <div></div>
                <div class="iconos">
                    <a href="/carrito"> <img src="images/carrito.png" alt="Logo Pastelería"></a>
                    <a href="/login"> <img src="images/login.png" alt="Logo Pastelería"></a>
                </div>
            </div>
        </div>

        <div>
            <nav>
                <ul>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Pastelería</a></li>
                    <li><a href="#">Cupcakes</a></li>
                    <li><a href="#">Postres</a></li>
                    <li><a href="#">Contactanos</a></li>
                </ul>
            </nav>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main>
        <div class="main-title">
            <h4>Carrito de compras</h4>
        </div>
        <form class="form-carrito" action="/comprar" method="post">
            <div class="productos">
                <div class="encabezado">
                    <div>
                        <p>Pastel de fresas para 12 personas</p>
                    </div>
                    <div><img src="images/Pastel_de_Cumpleaños.png" alt="Pastel de cumpleaños"> </div>
                </div>
                <div class="fila">                    
                    <div>
                        <p>Precio</p>
                    </div>
                    <div>$20.000 </div>
                    <div>
                        <p>Cantidad</p>
                    </div>             
                    <div>2</div>
                    <div>
                        <p>Total</p>
                    </div>
                    <div>$40.000</div>
                </div>
            </div>
            <div class="div-boton">
                <button class="boton" type="submit">Enviar</button>
            </div>>
        </form>

        </section>
    </main>

    <footer>
        <div class="footer-contenedor">
            <div>
                <h4>Home</h4>
                <a href="">Nosotros</a>
                <a href="">Pastelería</a>
                <a href="">Cupcakes</a>
                <a href="">Postres</a>
            </div>
            <div>
                <h4>Contactanos</h4>
                <p>info@pastelplace.com</p>
                <p>(123) 4567890</p>
            </div>
            <div>
                <h4>Horario de atención</h4>
                <p>Lunes a viernes 8:00 a.m. - 8:00 p.m.</p>
                <p>Sabado, domingo y festivo</p>
                <p>9:00 a.m. 10:pm</p>
            </div>
            <div class="social-media">
                <h4>Siguenos</h4>
                <div>
                    <a href=""> <img src="images/Instagram.png"></a>
                </div>
                <div>
                    <a href=""><img src="images/Facebook.png"></a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>