<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastelería</title>
    <link rel="stylesheet" href="css/home.css">
    <link href="http://fonts.cdnfonts.com/css/american-typewriter" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

</head>

<body>
    <header>
        <div class="top-header">
            <div>
                <img src="images/top.png" class="image-top">
            </div>
            <div class="contenedor">
                <div class="logo">
                    <a href="/"> <img src="images/logo.png" class="image-logo" alt="Logo Pastelería"></a>
                </div>
                <div></div>
                <div class="iconos">
                    <a href="/productCart"> <img src="images/carrito.png" alt="Logo Pastelería"></a>
                    <a href="/login"> <img src="images/login.png" alt="Logo Pastelería"></a>
                </div>
            </div>
        </div>
        <div>
            <nav><ul>
                <li><a href="#">Nosotros</a></li>
                <li><a href="/product-detail">Pastelería</a></li>
                <li><a href="#">Cupcakes</a></li>
                <li><a href="#">Postres</a></li>
                <li><a href="#">Contactanos</a></li>
            </ul></nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </div>
    </header>
    <main>
        <section class="banner-home">
            <div class="formulario-home">
                <form action="/" method="post">
                    <h4>Cotiza aquí</h4>
                    <input class="campos" type="text" id="nombre" placeholder="Nombre y Apellido">
                    <input class="campos" type="tel" id="telefono" placeholder="(123) 456 7890">
                    <input class="campos" type="email" id="correo" placeholder="Email">
                    <textarea class="campos" id="msg" name="user_message">Deja tu mensaje</textarea>
                    <input class="boton" type="submit" value="Enviar">
                </form>
            </div>
            <div class="container">
                <img src="images/Banner 2.png" alt="Banner2">
            </div>
        </section>

        <section class="productos-estrella">
            <article>
                <img src="images/Productos_Estrella.png" alt="Productos_Estrella" class="titulo">
            </article>
            <article>
                <img src="images/Torta_de_chocolate.png" alt="Torta_de_chocolate" class="product_img">
                <div class="product">
                    <h4 class="description">Torta de Chocolate</h4>
                    <p class="price">$40.000</p>
                    <button class="boton-articulo" name="button">Añadir</button>
                </div>
            </article>
            <article>
                <img src="images/Postre_Personalizado.png" alt="Postre_Personalizado" class="product_img">
                <div class="product">
                    <h4 class="description">Postre Personalizado</h4>
                    <p class="price">$75.000</p>
                    <button class="boton-articulo" name="button">Añadir</button>
                </div>
            </article>
           
        </section>
        <section class="promo-del-mes">
            <article>
                <img src="images/Promoción_del_mes.png" alt="Promoción_del_mes" class="titulo">
            </article>
            <article>
                <img src="images/Pastel_Meme.png" alt="Torta_de_chocolate" class="product_img">
                <div class="product">
                    <h4 class="description">Pastel Meme x 20</h4>
                    <p class="discount">$40.000</p>
                    <p class="price">$30.000</p>
                    <button class="boton-articulo" name="button">Añadir</button>
                </div>
            </article>
            <article>
                <img src="images/Cupcakes_Halloween.png" alt="Postre_Personalizado" class="product_img">
                <div class="product">
                    <h4 class="description">Cupcakes Halloween x5</h4>
                    <p class="discount">$50.000</p>
                    <p class="price">$40.000</p>
                    <button class="boton-articulo" name="button">Añadir</button>
                </div>
            </article>
           
           
        </section>
    </main>

    <footer>
        <div class="footer-contenedor">
            <div>
                <h4>Home</h4>
                <a href="">Nosotros</a>
                <a href="">Pastelería</a>
                <a href="">Cupcakes</a>
                <a href="">Postres</a>
            </div>
            <div>
                <h4>Contactanos</h4>
                <p>info@pastelplace.com</p>
                <p>(123) 4567890</p>
            </div>
            <div>
                <h4>Horario de atención</h4>
                <p>Lunes a viernes 8:00 a.m. - 8:00 p.m.</p>
                <p>Sabado, domingo y festivo</p>
                <p>9:00 a.m. 10:pm</p>
            </div>
            <div class="social-media">
                <h4>Siguenos</h4>
                <div>
                    <a href=""> <img src="images/Instagram.png"></a>
                </div>
                <div>
                    <a href=""><img src="images/Facebook.png"></a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>