<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastelería</title>
    <link rel="stylesheet" href="css/home.css"> 
</head>
<body>
    
    <header>
        <div class="top-header">
            <div >
                <img src="images/top.png" class="image-top">
            </div>      
            <div>   
                    <div class="logo" >
                        <img src="images/logo.png"  class="image-logo"  alt="Logo Pastelería">         
                    </div>    
                <div class="iconos">
            </div>    
            </div>
        </div>
     



    </header>
        
    
</body>
</html>