<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Registrate en PastelPlace</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
        </header>
        <main class="register">
            <form action="/register" method="POST">
                <input type="text" name="name" placeholder="Nombre y apellido">
                <input type="text" name="user" placeholder="Nombre de usuario">
                <input type="email" name="email" placeholder="E-mail">
                <br>
                <label for="birth_date"><b>Fecha de nacimiento</b></label>
                <br>
                <input type="date" name="birth_date" id="birth_date">
                <br>
                <input type="text" name="addres" placeholder="Domicilio">
                <h4>Perfil del usuario</h4>
                <div class="profile">
                    <input type="radio" name="profile" value="buy" id="buy">
                    <label for="buy">Comprador</label>
                    <input type="radio" name="profile" value="sell" id="sell">
                    <label for="sell">Vendedor</label>
                </div>

                <h4>Elegí tu foto de usuario</h4>
                <input type="file" name="avatar">
                <br>
                <br>
                <input type="password" name="pass" placeholder="Elegí tu contraseña">
                <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
                <br>
                <br>
                <button type="submit" class="enviar">Registrate</button>
                <button type="reset" class="borrar">Borrar</button>
                <br>
                <br>
            </form>
        </main>
        <footer>
        </footer>
    </body>
</html>