* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'American Typewriter', sans-serif; 
}

body {
  background-image: url("../images/Fondo.png");
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: flex-start;
}

.image-top {
  position: absolute;
  height: 9%;
  width: 100%;
}

.image-logo {
  height: 100px;
  width: 100%;

}

div.burger-menu {
  text-align: center;
}

div.burger-menu i {
  background-color: #f6bab5;
  border-radius: 20px;
  color: #633812;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
}


.contenedor {
  display: flex;
  margin-top: 33px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.iconos {
  align-self: center;
  padding-left: 30px;
  display: none;
}

header nav {
  text-align: center;
  margin-top: 20px;
}


nav a {
  text-decoration: none;
  color: #633812;
  font-size: 14px;
}

header nav {
  display: none;
}

nav a {
  text-decoration: none;
  color: #633812;
  font-size: 14px;
}

nav li {
  display: inline-block;
  width: 10%;
  padding: 5px 10px;
  background-color: #f6bab5;
  border-radius: 15px;
  text-align: center;
  color: #fff;
}

nav li:hover {
  background-color: #78bac3;
}

main {
  height: 100%;
  margin-bottom: 20px;
}


footer .footer-contenedor {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

footer .footer-contenedor div h4 {
  font-weight: bold;
  color: #fff;
  padding: 5px;
}

section.banner-home {
  display: flex;
  flex-direction: column;
  align-items: center
}

div.formulario-home {
  width: 100%;
  background-color: #eacab2;
  padding: 30px;
  border-radius: 15px;
  margin-top: 10px;
  text-align: center;
}

div.formulario-home h4 {
  font-size: 20px;
  margin-bottom: 1em;
}

div.container {
  margin: 10px;
  background-color: white;
  width: 100%;
  border-radius: 15px;
}

div.container img{
  width: 100%;
  height: 300;
  border-radius: 15px;
}

textarea,
input.campos {
  width: 100%;
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
  border: none;
}

section.productos-estrella {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

section.productos-estrella div.products article {
  width: 45%;
}

section.productos-estrella article {
  margin: 10px 0px;
  padding: 2px;
}

section.productos-estrella article img {
  width: 90%;
  padding: 20px;
  
}

section.productos-estrella article img.titulo {
  width: 90%;
  padding: 40px;
}

section.promo-del-mes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f6bab5;
  margin-top: 30px;
}

section.promo-del-mes div.products article {
  width: 45%;
}

section.promo-del-mes article {
  margin: 10px 0px;
}

section.promo-del-mes article img {
  width: 90%;
  padding: 20px;
}
section.promo-del-mes article img.titulo {
  width: 90%;
  padding: 40px;
}
.boton-articulo{
  background-color: #633812;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 15px;
}
.boton{
  background-color: #d69a0e;
  color: white;
  border: none;
  padding-inline: 10px;
  border-radius: 15px;
}

.description{
  font-size: larger;
}

.discount{
  font-size: smaller;
  text-decoration: line-through;
  color: #d69a0e;
}

footer {
  background-color: #b76259;
  font-size: 12pt;
  margin-top: auto;
}


footer .footer-contenedor {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  padding: 20px;
}

footer .footer-contenedor div h4 {
  font-weight: bold;
  color: #fff;
  padding: 5px;
}

footer .footer-contenedor div a,
footer .footer-contenedor div p {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 5px;
}



@media (min-width: 361px) {}


@media (min-width: 769px) {

  .contenedor {
    display: flex;
    margin-top: 33px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .iconos {
    display: block;
  }

  section.banner-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

  }

  div.formulario-home {
    width: 40%;
  }

  div.container {
    width: 60%;
  }

  section.productos-estrella {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  section.promo-del-mes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  footer .footer-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  footer .social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .image-logo {
    height: 179px;
  }

  div.burger-menu {
    display: none;
  }

  header nav {
    display: block;
  }
}