
main{
    width: 90%;
    margin: 0 auto;
}

.main-login{
    width: 60%;
    background-color: #eacab2;
    padding: 30px;
    border-radius: 15px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}


.form-login {
    display: flex;
    flex-direction: column;
    margin: 1vh
}

.bienvenida {
    text-align: left;
    color: #633812;
    margin-left: 4vh;
    margin-top: 5vh;
    font-size: larger;
}

.bienvenida h2{
    font-size: 230%;
}

.boton {
    border: #b76259 solid 2vh;
    border-radius: 10vh;
    background-color: #b76259;
    color: white;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: larger;

}

.boton:hover {
    background-color: #b76259;
    border: #b76259 solid 2vh;

}

.barrainfo {
    margin: 1vh;
    padding: 2vh;
    margin-top: 1vh;
    border-radius: 10vh;
    border: white solid;
    background-color: #fff;
    font-size: large;
   
}

.registrarse{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: #633812;
    margin-bottom: 2vh;
}

.registrarse h3 { 
    padding-right: 1vh;
    padding-left: 1vh;
}

.registrarse a {
    font-size: larger;
    font-weight:bold;
}

main{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}
