

.categoria{
    text-align: center;    
    margin: 10px 0px 10px 0px;
}

.container-productos{    
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-inline: 160px;    
}

.caja-productos{
    width: 300px;
    background-color: #eacab2;
    padding: 20px;
    border-radius: 15px;    
    margin-top: 20px;
    margin-inline: 20px;
    text-align: center;
    margin-bottom: 20px;
}
              
.imagen-producto img{
    width: 259px;
    height: 251px;
}

h1{
    color: #633812;
}

.descipcion-producto h2, h3{
    color: #633812;
    padding: 5px;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }


.caja-productos:hover {
    opacity: .5;
    transition: opacity .5s ease-out;  
}

div.productosdetalleproducto{
    padding: 30px;
}

div.contenedordetalleproducto{
    display: flex;
    flex-direction: column;

}

div.contenedordetalleproducto img{
   width:300px;
   height: 300px;
   margin: 10px;
   border-radius: 15px;
}

div.cajadetalleproducto{
    align-items: center;
}

h2.nombreproducto{
    font-size: 30pt;
    color: #633812;
    margin: 10px;
}

h3.precioproducto{
    color: #b76259;
    font-size: 30pt;
    margin: 10px;
}

p.descripcionproducto{
    color: #633812;
    padding-bottom:20px;
    font-size: 10pt;
    margin: 20px;
    
}

.botoncomprar{
    background-color: #633812;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 15px;
    justify-content: center;
    font-size: 16px;
    margin-inline: 20px;
  }

  .botonActualizar {
    border: none;
    border-radius: 15px;    
    color: #fff;
    background-color: #633812;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 30px;
    margin-top: 15px;
    width: 200px;
  }
  

  @media (min-width: 819px) {

    div.contenedordetalleproducto{
        display: flex;
        flex-direction: row;
        align-items:flex-start;
    }

    .botoncomprar{
     margin: 10px;
     padding: 10px;
     width: 200px;
      }

    h2.nombreproducto{
        font-size: 40pt;
    }

  }
