.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.productos{
    text-align: center;    
}

main{
    width: 28%;
    background-color: #eacab2;
    padding: 30px;
    border-radius: 15px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}