<header>
    <div class="top-header">
        <div>
            <img src="/images/top.png" class="image-top">
        </div>
        <div class="contenedor">
            <div class="logo">
                <a href="/"> <img src="/images/logo.png" class="image-logo" alt="Logo Pastelería"></a>
            </div>
            <div></div>
            <div class="iconos">
                <a href="/productCart"> <img src="/images/carrito.png" alt="Logo Pastelería"></a>
                <a href="/login"> <img src="/images/login.png" alt="Logo Pastelería"></a>
            </div>
        </div>
    </div>
    <div>
        <nav><ul>
            <li><a href="#">Nosotros</a></li>
            <li><a href="/product?categoria=Pasteleria">Pastelería</a></li>
            <li><a href="/product?categoria=CupCakes">Cupcakes</a></li>
            <li><a href="/product?categoria=Postres">Postres</a></li>
            <li><a href="#">Contactanos</a></li>
        </ul></nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </div>
</header>